.regFourTpl {
  text-align: left;
  .sdx-regFour-f {
    background-color: #f6f6f6;
    .sdx-regFour-div {
      width: 85%;
      margin: 0 auto;
      padding: 0.267rem 0;
    }
    .sdx-regFour-span {
      font-size: 16px;
      color: #323232;
      font-weight: bold;
      vertical-align: super;
      width: 91%;
      display: inline-block;
    }
  }


}
