<div class="sdx-queDw-fxlx">
  <div class="sdx-queDw-lx90">
    <p class="sdx-queDw-fs"></p>
    <p class="sdx-queDw-fslx"></p>
  </div>
</div>

{{#each topiclist}}
<div class="sdx-queDw-listDiv">
  <p>{{title}}</p>
  <ul class="sdx-queDw-ul35">
    {{#each answersList}}
    <li>
      <span class="onRadio">
        <span class="onSelect {{#js_if '../gradeFs === this.grade'}}onSelectScale1{{/js_if}}" data-list="{{grouping}}-{{grade}}" data-grade="{{grade}}"></span>
      </span>
      <span class="sdx-queDw-nr">{{answer}}</span>
    </li>
    {{/each}}
  </ul>
</div>
{{/each}}

<div style="height: 10px;"></div>
