<div class="sdx-queDw-fxlx">
  <div class="sdx-queDw-lx90">
    <p class="sdx-queDw-fs"></p>
    <p class="sdx-queDw-fslx"></p>
  </div>
</div>

{{#each topiclist}}
<div class="sdx-queDw-listDiv">
  <p>{{title}}</p>
  <ul class="sdx-queDw-ul35">
    {{#each answersList}}
    <li>
      <span class="onRadio">
        <span class="onSelect {{#js_if '../gradeFs === this.grade'}}onSelectScale1{{/js_if}}" data-list="{{grouping}}-{{grade}}"></span>
      </span>
      <span class="sdx-queDw-nr">{{answer}}</span>
    </li>
    {{/each}}
  </ul>
</div>
{{/each}}

<div class="sdx-queDw-btDiv">
  <p style="margin-bottom: 0.5rem; display: none;" class="xyb">
    <a href="#" class="button button-big button-fill color-gray sdx-queDw-xzPDF" style="background: #1d2a9e; border: 1px solid #1d2a9e;">保存</a>
  </p>
  <p style="margin-bottom: 0.5rem;" class="xz">
    <a href="#" class="button button-big button-fill color-gray sdx-queDw-xzPDF">下载PDF</a>
  </p>
</div>
